html {
	background: #fff;
	margin: 0;
	font: normal 14px/1.5 sans-serif;
	padding: 2em 1em;
}

head,
title,
style,
body,
div,
h1,
h2,
p,
ul,
li,

strong,
em,
b,
i,
a {
	display: block;
	background: #fff;
	border: 1px solid #f2f2f2;
	padding: 0.2em 0.5em;
	margin: 2em 1rem;
	position: relative;
}

head:before,
title:before,
style:before,
body:before,
div:before,
h1:before,
h2:before,
p:before,
ul:before,
li:before,

strong:before,
em:before,
b:before,
i:before,
a:before,

br:before {
	content: "<>";
	display: block;
	position: absolute;
	top: -1.3rem;
	left: -1.3rem;
	font: normal normal normal 0.8rem/1.2 monospace;
	background: #f2f2f2;
	padding: 0.2em 0.3em;
	border: 1px solid #aaa;
}

head:before { content: "<head>"; }
title:before { content: "<title>"; }
style:before { content: "<style>"; }
body:before { content: "<body>"; }
div:before { content: "<div>"; }
h1:before { content: "<h1>"; }
h2:before { content: "<h2>"; }
p:before { content: "<p>"; }
ul:before { content: "<ul>"; }
li:before { content: "<li>"; }

strong:before { content: "<strong>"; }
em:before { content: "<em>"; }
b:before { content: "<b>"; }
i:before { content: "<i>"; }
a:before { content: "<a>"; }

br:before { content: "<br>"; }

/* Blocks: Code */

style {
	font-family: monospace;
	padding: 0.5em 1em;
	background-color: #f2f2f2;
	border-color: #ccc;
	white-space: pre;
}

/* Inline blocks */

strong,
em,
b,
i,
a {
	display: inline-block;
	margin: 0;
}


br {
	/* <br> is collapsed by default, give it content to
	   enable use of :before */
	content: "";
	display: block;
}

strong:before,
em:before,
b:before,
i:before,
a:before,

br:before {
	display: inline-block;
	vertical-align: top;
	position: static;
	top: auto;
	left: auto;
	margin-right: 0.5em;
}
